{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="h2 mb-4">Add a Device</h2>

    <form action="/devices/add" method="post">
        <div class="mb-3">
            <label for="device_name" class="form-label">Device Name</label>
            <input type="text" placeholder="Enter device name..." class="form-control" id="device_name"
                   name="device_name" required>
        </div>

        <div class="mb-3">
            <label for="device_uuid" class="form-label">Device UUID (Optional)</label>
            <input type="text" placeholder="Enter device UUID..." class="form-control" id="device_uuid"
                   name="device_uuid">
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock %}